# Database Configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/tietokonelepuski?schema=public"

# JWT Configuration
JWT_SECRET="dev_secret"
JWT_EXPIRES_IN="7d"

# Application Port
PORT=3000