.resetContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.inputWrapper {
  width: 100%;
  background: #fff;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.inputWrapper:focus-within {
  border: 1px solid #1e58f9;
}
.inputWrapper button svg {
  width: 1.5rem;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  text-align: left;
  display: flex;
}

.resetActions {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 2rem;
}

.resetActions button {
  font-weight: bold;
}
